@import url("https://fonts.googleapis.com/css2?family=Noticia+Text:wght@700&display=swap");
body {
  background-color: rgb(58, 58, 58);
}
.full-height {
  height: 100%;
}
#menu {
  background-color: rgb(241, 241, 233);
  padding: 6px;
}
#menu h2 {
  font-family: "Noticia Text", serif;
}
#todos {
  background-color: red;
}
